.field-row {
    width: 100%;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;

    & > * {
        margin: 0 !important;
    }

    &.-flex {
        display: flex;
        gap: 2rem;
    }

    &.-flex > * {
        width: 50%;
    }

    &.flex > *:not(:first-of-type) {
        margin-left: auto;
    }
}

.text, textarea {
    transition: border 400ms !important;

    
    &.-edited {
        transition: border 400ms !important;
        border-left: 4px solid rgb(209, 162, 74) !important;
    }

    &.-error {
        border-left: 4px solid rgb(209, 74, 74) !important;
    }
}

.btn.submit:disabled {
    opacity: 0.6 !important;
    cursor: default;
}

.invoiced-form-error {
    color: rgb(209, 74, 74);
    width: 100%;
    top: 100%;
    margin: 0;
    margin-top: 0.5rem;

    &.-hidden {
        height: 0;
    }
}